*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage

# Generated project site (yard). This is usually `/doc/` but I like to 
# actually put docuemntation (Markdown) in there (which gets coverted to HTML 
# and included in the site)
/site/

lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
tmp/
.ruby-version
##############################################################################
# BEGIN Qb.gitingore
#
# generated qb playbooks
.qb-playbook.yml

# ansible retry files
.qb-playbook.retry
#
# END Qb.gitingore
##############################################################################
