--output-dir ./site
--markup-provider commonmarker
--markup markdown
--tag pure:"Pure Function"
--tag status:"Status"
--plugin yard-commonmarker
--plugin yard-link_stdlib
--private
--protected
lib/**/*.rb
-
README.md
LICENSE.txt
doc/**/*.md
lib/nrser/types/doc/display_table.md