--load ./support/yard/setup.rb
--markup markdown
--markup-provider commonmarker
--output-dir ./site
--plugin yard-commonmarker
--plugin yard-nrser-cucumber
--plugin yard-link_stdlib
--private
--protected
--tag pure:"Pure Function"
--tag status:"Status"
lib/**/*.rb
features/**/*.feature
features/**/*.rb
-
README.md
LICENSE.txt
doc/**/*.md
lib/**/README.md
lib/**/doc/**/*.md