<div class="note abstract">
  <% if object.type == :class %>
    <strong>Instances of this class are immutable.</strong>
  <% else %>
    <strong>This <%= object.type %> is immutable.</strong>
  <% end %>
  <%= htmlify_line object.tag(:immutable).text %>
</div>
